$screen-sm: 600px;
$screen-md: 768px;
$screen-lg: 1000px;
$screen-hd: 1250px;

$screen-hd-min: $screen-hd;
$screen-lg-max: ($screen-hd-min - 1);

$grid-gutter-width: 30px;

$container-tablet: (552px + $grid-gutter-width);
$container-desktop: (712px + $grid-gutter-width);
$container-large-desktop: (940px + $grid-gutter-width);
$container-hd-desktop: (1184px + $grid-gutter-width);
$container-hd: $container-hd-desktop;

$modal-hd: 900px;