$screen-hd: 1400px !default;
$screen-hd-min: $screen-hd !default;

$screen-lg-max: ($screen-hd-min - 1) !default;

$container-hd-desktop: (1334px + $grid-gutter-width) !default;
$container-hd: $container-hd-desktop !default;

$modal-hd: 900px !default;

@mixin make-hd-grid-columns($i: 1, $list: ".col-hd-#{$i}") {
  @for $i from (1 + 1) through $grid-columns {
    $list: "#{$list}, .col-hd-#{$i}";
  }
  #{$list} {
    position: relative;
    // Prevent columns from collapsing when empty
    min-height: 1px;
    // Inner gutter via padding
    padding-left:  ceil(($grid-gutter-width / 2));
    padding-right: floor(($grid-gutter-width / 2));
  }
}

.container {
  @include container-fixed;
  @media (min-width: $screen-hd-min) {
    width: $container-hd;
  }
}

@media (min-width: $screen-hd-min) {
  @include make-grid(hd);
}

@media (min-width: $screen-md-min) {
  .modal-hd { width: $modal-hd; }
}

@include responsive-invisibility('.visible-hd');

@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  @include responsive-visibility('.visible-lg');
}

.hidden-lg {
  @media (min-width: $screen-lg-min) {
    display: initial !important;
  }
}
.visible-lg, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
  @media (min-width: $screen-lg-min) {
    display: none !important;
  }
}
.visible-lg-block {
  @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
    display: block !important;
  }
}
.visible-lg-inline {
  @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
    display: inline !important;
  }
}
.visible-lg-inline-block {
  @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
    display: inline-block !important;
  }
}

.visible-hd-block,
.visible-hd-inline,
.visible-hd-inline-block {
  display: none !important;
}

.visible-hd-block {
  @media (min-width: $screen-hd-min) {
    display: block !important;
  }
}
.visible-hd-inline {
  @media (min-width: $screen-hd-min) {
    display: inline !important;
  }
}
.visible-hd-inline-block {
  @media (min-width: $screen-hd-min) {
    display: inline-block !important;
  }
}

@media (min-width: $screen-hd-min) {
  @include responsive-invisibility('.hidden-hd');
}

@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  @include responsive-visibility('.visible-lg');
}

@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  @include responsive-invisibility('.hidden-lg');
}

@media (min-width: $screen-hd-min) {
  @include responsive-visibility('.visible-hd');
}

@include make-hd-grid-columns;

// Generate the hd columns
@mixin make-hd-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  @media (min-width: $screen-hd-min) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}
@mixin make-hd-column-offset($columns) {
  @media (min-width: $screen-hd-min) {
    margin-left: percentage(($columns / $grid-columns));
  }
}
@mixin make-hd-column-push($columns) {
  @media (min-width: $screen-hd-min) {
    left: percentage(($columns / $grid-columns));
  }
}
@mixin make-hd-column-pull($columns) {
  @media (min-width: $screen-hd-min) {
    right: percentage(($columns / $grid-columns));
  }
}